@charset "UTF-8";


a {
  text-decoration: none;
  font-family: "RotondaC";
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "RotondaC";
  color: #F28B21;
  line-height: 1.2;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.hr-double {
  height: 1px;
  padding: 1px;
  border: none;
  border-top: 1px solid #F28B21;
  border-bottom: 1px solid #F28B21;
  max-width: 960px;
  margin: 100px auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}
.header {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.logo img{
    max-width: 200px;
}
.header__top-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header__top-nav-li {
    margin-right: 14px;
  }
  .header__top-nav-li:nth-last-child() {
    margin-right: 0;
  }
  
  .header__top-nav-link {
    font-size: 40px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    color: #F28B21;
    font-weight: bold;
  }
  
  .header__top-nav-link:hover {
    text-decoration: underline;
  }
  .header-pc {
    position: relative;
  }
  
  .header-pc-notbok {
    position: relative;
    top: 110px;
  }
  
  .header-pc-bg {
    width: 450px;
    height: 270px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 37%;
  }
  
  .header-pc-lates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 50%;
    bottom: -40%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .header-pc-lates .active {
    border: 2px solid #1ca8dd;
    border-radius: 50%;
  }
  
  .header-pc-late {
    padding: 5px;
    cursor: pointer;
    border: 2px solid #a8aaac;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .header-pc-late:last-child {
    margin-right: 0;
  }
  .header-relative {
    position: relative;
    top: -100px;
  }