@charset "UTF-8";


a {
  text-decoration: none;
  font-family: "RotondaC";
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "RotondaC";
  color: #F28B21;
  line-height: 1.2;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}
.hr-double {
  height: 1px;
  padding: 1px;
  border: none;
  border-top: 1px solid #F28B21;
  border-bottom: 1px solid #F28B21;
  max-width: 960px;
  margin: 120px auto 60px  ;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}
.header {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.logo img{
    max-width: 200px;
}
.header__top-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.header__top-nav-li {
    margin-right: 14px;
}
.header__top-nav-li:nth-last-child() {
    margin-right: 0;
}
  
.header__top-nav-link {
    font-size: 40px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    color: #F28B21;
    font-weight: bold;
}
  
.header__top-nav-link:hover {
    text-decoration: underline;
}
.header-pc {
    position: relative;
}
  
.header-pc-notbok {
    position: relative;
    top: 110px;
}
  
.header-pc-bg {
    width: 450px;
    height: 270px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 37%;
}
  
.header-pc-lates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 50%;
    bottom: -40%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
  
.header-pc-lates .active {
    border: 2px solid #1ca8dd;
    border-radius: 50%;
}
  
.header-pc-late {
    padding: 5px;
    cursor: pointer;
    border: 2px solid #a8aaac;
    border-radius: 50%;
    margin-right: 10px;
}
  
.header-pc-late:last-child {
    margin-right: 0;
}
.header-relative {
    position: relative;
    top: -80px;
}

.second__mead-h1 {
    text-align: center;
    margin-bottom: 50px;
}
.second__mead-katigories{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 80px 0px;
  margin: 0px auto;
}
.second__mead-katigoria{
  position: relative;
  width: 300px;
  height: 350px;
  background: #F28B21;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.second__mead-katigoria:before,
.second__mead-katigoria:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #F28B21;
  transition: 0.5s;
  z-index:-1;
}
.second__mead-katigoria:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.second__mead-katigoria:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.second__mead-katigoria-img{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.second__mead-katigoria:hover .second__mead-katigoria-img
{
  bottom: 90px;
}

.second__mead-katigoria-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second__mead-katigoria-text{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 70px;
    text-align: center;
}

.second__mead-katigoria-h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #fff;
 text-transform: uppercase;
} 

.second__mead-katigoria-p{
font-weight: 500;
font-size: 0px;
color: #fff;
display: block;
margin-top: 5px;
}
.second__mead-katigoria:hover .second__mead-katigoria-p {
    font-size: 16px;
 }
 .maps .wrap{
     position: relative;
    margin: 20px auto;
 }
 .maps .wrap iframe {
     position: absolute;
     border: 10px solid #F28B21;
     left: 250px;
     top: -420px;
    margin: 0 auto 20px;
    text-align: center;
 }

 .maps .wrap {
    margin-bottom: 450px;
 }
 .footer {
    background-color: #333333;
 }
 .footer .wrap {
     padding: 20px 0;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }
 .footer-social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .footer-social ul li a:before {
    content: '';
    position: absolute;
    top: 100% ;
    left: 0% ;
    width: 100%;
    height: 100%;
    background-color: #f30e0e;
    transition: .7s;
    z-index:1 ;
  }
  .footer-social ul li a:hover:before {
    top: 0 ;
  }
  
  .footer-social ul li:nth-child(1) a:before {
    background-color:#324e8c; /
  }
  
  .footer-social ul li:nth-child(2) a:before {
    background-color:#3f98dc;  
  }
  
  .footer-social ul li:nth-child(3) a:before {
    background-color:#bd1515;  
  }
  
  .footer-social ul li:nth-child(4) a:before {
    background-color:#d23723;
  }
  
  .footer-social ul li:nth-child(5) a:before {
    background-color:#167fb5;  
  }
  .footer-social ul li a {
    width: 75px;  
    height: 75px;  
    background-color: #ссс;  
    text-align: center;  
    font-size: 45px;
    line-height: 78px;  
    margin: 0 7px;
    display: block;  
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    border: solid 2px #fbf7f7;
    z-index: 2;
  }
  
  .footer-social ul li a .fa {
    position: relative;
    color: #262626;
    transition: .7s;
    z-index: 3;
  }
  
  .footer-social ul li a:hover .fa {
    color: #fbf5f5;  
    transform: rotateY(360deg);
  }